:root {
  font-family: "Dosis", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad46ff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5703a7;
}

.rhap_container {
  padding: 0 !important;
  margin-block: 10px !important;
  box-shadow: none !important;
}

.rhap_main {
  background: rgb(247, 237, 255);
  padding: 1rem;
  border-radius: 10px;
  padding-bottom: 2rem !important;
}

.rhap_main svg {
  color: #ad46ff !important;
}

.rhap_progress-bar {
  background-color: #ad46ff !important;
  border-radius: 1rem !important;
}

.rhap_progress-indicator {
  background-color: #5703a7 !important;
}

.rhap_progress-filled {
  background-color: #5703a7 !important;
}

.rhap_controls-section {
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.rhap_total-time {
  position: absolute !important;
  top: 65px !important;
  left: 18px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

@import "tailwindcss";
